body {
  margin:0px;
  background-color:rgba(34, 38, 43, 1);
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
  background:inherit;
  background-color:rgba(234, 208, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:482px;
  width:250px;
  height:46px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:304px;
  width:256px;
  height:52px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u15.hint {
}
#u15_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u15.disabled {
}
#u15_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u15.hint.disabled {
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:376px;
  width:256px;
  height:52px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u16.hint {
}
#u16_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u16.disabled {
}
#u16_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u16.hint.disabled {
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:72px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:50px;
  width:250px;
  height:72px;
  display:flex;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:732px;
  width:197px;
  height:18px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans Bold", "Open Sans", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#EAD017;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:732px;
  width:73px;
  height:18px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#EAD017;
}
#u19 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:232px;
  width:256px;
  height:52px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u20.hint {
}
#u20_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u20.disabled {
}
#u20_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u20.hint.disabled {
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
  text-align:center;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:162px;
  width:264px;
  height:45px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
  text-align:center;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:789px;
  width:30px;
  height:32px;
  display:flex;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
