{# Load the tag library #} {% load bootstrap5 %} {# Load CSS and JavaScript #}
{% bootstrap_css %} 
{% bootstrap_javascript %} 
{# Displaydjango.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'CSS/main2.css' %}"
    />
    <title>
        {% block  title%}{% endblock title%}
    </title>
    {% block css %}{% endblock css %}

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img
          src="{% static 'images/pantalla_rol/u1.png' %}"
          width="100"
          height="30"
          alt=""
        />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link nav-vac " href="{% url 'booking' %}">Reservar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-vac" href="#">Incidencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-vac" href="#">Vacaciones</a>
          </li>
         
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
        {% block content%}{%endblock content%}
    </div>
    
  </body>
</html>
