body {
  margin:0px;
  background-color:rgba(34, 38, 43, 1);
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u314_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u314_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u314_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:267px;
  width:256px;
  height:52px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u314_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u314.hint {
}
#u314_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u314.disabled {
}
#u314_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u314.hint.disabled {
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:72px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:40px;
  width:250px;
  height:72px;
  display:flex;
}
#u315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:44px;
  background:inherit;
  background-color:rgba(234, 208, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:682px;
  width:250px;
  height:44px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u317 label {
  left:0px;
  width:100%;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:15px;
  height:15px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:364px;
  width:115px;
  height:20px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#EAD017;
}
#u317 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u317_img.selected {
}
#u317.selected {
}
#u317_img.disabled {
}
#u317.disabled {
}
#u317_img.selected.error {
}
#u317.selected.error {
}
#u317_img.selected.hint {
}
#u317.selected.hint {
}
#u317_img.selected.error.hint {
}
#u317.selected.error.hint {
}
#u317_img.mouseOver.selected {
}
#u317.mouseOver.selected {
}
#u317_img.mouseOver.selected.error {
}
#u317.mouseOver.selected.error {
}
#u317_img.mouseOver.selected.hint {
}
#u317.mouseOver.selected.hint {
}
#u317_img.mouseOver.selected.error.hint {
}
#u317.mouseOver.selected.error.hint {
}
#u317_img.mouseDown.selected {
}
#u317.mouseDown.selected {
}
#u317_img.mouseDown.selected.error {
}
#u317.mouseDown.selected.error {
}
#u317_img.mouseDown.selected.hint {
}
#u317.mouseDown.selected.hint {
}
#u317_img.mouseDown.selected.error.hint {
}
#u317.mouseDown.selected.error.hint {
}
#u317_img.mouseOver.mouseDown.selected {
}
#u317.mouseOver.mouseDown.selected {
}
#u317_img.mouseOver.mouseDown.selected.error {
}
#u317.mouseOver.mouseDown.selected.error {
}
#u317_img.mouseOver.mouseDown.selected.hint {
}
#u317.mouseOver.mouseDown.selected.hint {
}
#u317_img.mouseOver.mouseDown.selected.error.hint {
}
#u317.mouseOver.mouseDown.selected.error.hint {
}
#u317_img.focused.selected {
}
#u317.focused.selected {
}
#u317_img.focused.selected.error {
}
#u317.focused.selected.error {
}
#u317_img.focused.selected.hint {
}
#u317.focused.selected.hint {
}
#u317_img.focused.selected.error.hint {
}
#u317.focused.selected.error.hint {
}
#u317_img.selected.disabled {
}
#u317.selected.disabled {
}
#u317_img.selected.hint.disabled {
}
#u317.selected.hint.disabled {
}
#u317_img.selected.error.disabled {
}
#u317.selected.error.disabled {
}
#u317_img.selected.error.hint.disabled {
}
#u317.selected.error.hint.disabled {
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:96px;
  white-space:nowrap;
  text-transform:none;
}
#u317_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u318_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u318_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u318_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:177px;
  width:256px;
  height:52px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u318_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(29, 33, 37, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u318.hint {
}
#u318_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u318.disabled {
}
#u318_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u318.hint.disabled {
}
#u319 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u319_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:390px;
  height:67px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u319_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:67px;
  background:inherit;
  background-color:rgba(34, 38, 43, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:67px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:67px;
  background:inherit;
  background-color:rgba(34, 38, 43, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:78px;
  height:67px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:67px;
  background:inherit;
  background-color:rgba(34, 38, 43, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:78px;
  height:67px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:67px;
  background:inherit;
  background-color:rgba(34, 38, 43, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:0px;
  width:78px;
  height:67px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:67px;
  background:inherit;
  background-color:rgba(34, 38, 43, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:0px;
  width:78px;
  height:67px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:34px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:17px;
  width:31px;
  height:34px;
  display:flex;
}
#u326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:21px;
  width:35px;
  height:26px;
  display:flex;
}
#u327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:17px;
  width:35px;
  height:33px;
  display:flex;
}
#u328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:18px;
  width:35px;
  height:32px;
  display:flex;
}
#u329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:18px;
  width:27px;
  height:32px;
  display:flex;
}
#u330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:112px;
  width:122px;
  height:45px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u331 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:301px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:247px;
  width:300px;
  height:301px;
  display:flex;
}
#u332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  background:inherit;
  background-color:rgba(234, 208, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:489px;
  width:125px;
  height:44px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:293px;
  width:230px;
  height:112px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  background:inherit;
  background-color:rgba(234, 208, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:489px;
  width:125px;
  height:44px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
